.navbar.product-detial {
  background-color: rgba(0, 0, 0, 0.8) !important;
  position: fixed;
  top: 0;
}
.product-detial-img {
  height: 400px;
  width: 100%;
  padding: 10px;
}
.product-detial-img img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}
.product-command .command {
  background-color: #ccc;
  padding: 10px !important;
  border-radius: 4px;
  margin: 10px !important;
}
.product-command .command .user-img {
  width: 20%;
  height: 80px;
  float: right;
  padding: 0 10px;
}
.product-command .command .user-img img {
  width: 80px;
  height: 100%;
  border-radius: 50%;
}
.product-command .command .user-desc {
  width: 80%;
  float: right;
}
.product-command .write-command {
  margin: 20px 10px !important;
}
.product-command .write-command .form-control {
  margin: 10px;
}
.product-command .write-command .form-control input,
.product-command .write-command .form-control textarea {
  padding: 5px 10px ;
  border: 1px solid #36c6d3;
  border-radius: 4px;
}
